# 텐서플로우(google) - 산업용
* 이미지 관련 라이브러리
* keras를 이용해 코딩이 쉬움
* 순차적 sequentional, functional, class

# 파이토치(meta) - 연구용
* 자연어 관련 라이브러리
* 허깅페이스, 랭체인 
* class

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
print(np.__version__)

2.1.0

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/haram4th/ablearn/main/Taitanic_train.csv")
data.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [4]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
data = data[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Embarked']]
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0         0       3    male  22.0      1      0        S
1         1       1  female  38.0      1      0        C
2         1       3  female  26.0      0      0        S
3         1       1  female  35.0      1      0        S
4         0       3    male  35.0      0      0        S

In [6]:
data['family'] = data['SibSp'] + data['Parch']
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch Embarked  family
0         0       3    male  22.0      1      0        S       1
1         1       1  female  38.0      1      0        C       1
2         1       3  female  26.0      0      0        S       0
3         1       1  female  35.0      1      0        S       1
4         0       3    male  35.0      0      0        S       0

In [7]:
data = data.drop(['SibSp', 'Parch'], axis=1)
data.head()

   Survived  Pclass     Sex   Age Embarked  family
0         0       3    male  22.0        S       1
1         1       1  female  38.0        C       1
2         1       3  female  26.0        S       0
3         1       1  female  35.0        S       1
4         0       3    male  35.0        S       0

In [8]:
data['Age'] = data['Age'].fillna(data['Age'].mean())

In [9]:
data['Embarked'].mode()[0]

'S'

In [10]:
data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode()[0])

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   Embarked  891 non-null    object
 5   family    891 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 41.9+ KB

In [12]:
data.head()

   Survived  Pclass     Sex   Age Embarked  family
0         0       3    male  22.0        S       1
1         1       1  female  38.0        C       1
2         1       3  female  26.0        S       0
3         1       1  female  35.0        S       1
4         0       3    male  35.0        S       0

In [13]:
data = pd.get_dummies(data, drop_first=True)
data.head()

   Survived  Pclass   Age  family  Sex_male  Embarked_Q  Embarked_S
0         0       3  22.0       1      True       False        True
1         1       1  38.0       1     False       False       False
2         1       3  26.0       0     False       False        True
3         1       1  35.0       1     False       False        True
4         0       3  35.0       0      True       False        True

In [14]:
X = data.drop('Survived', axis=1)
y = data['Survived']

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
ss = StandardScaler()
X_scaled = ss.fit_transform(X)
X_scaled = pd.DataFrame(X_scaled, columns=X.columns)
X_scaled.head()

     Pclass       Age    family  Sex_male  Embarked_Q  Embarked_S
0  0.827377 -0.592481  0.059160  0.737695   -0.307562    0.615838
1 -1.566107  0.638789  0.059160 -1.355574   -0.307562   -1.623803
2  0.827377 -0.284663 -0.560975 -1.355574   -0.307562    0.615838
3 -1.566107  0.407926  0.059160 -1.355574   -0.307562    0.615838
4  0.827377  0.407926 -0.560975  0.737695   -0.307562    0.615838

In [17]:
from sklearn.model_selection import train_test_split

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.7, random_state=10)

In [19]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

In [20]:
dtc = DecisionTreeClassifier(max_depth=3, random_state=10)
dtc.fit(X_train, y_train)
pred = dtc.predict(X_test)
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.82      0.90      0.85       386
           1       0.80      0.67      0.73       238

    accuracy                           0.81       624
   macro avg       0.81      0.78      0.79       624
weighted avg       0.81      0.81      0.81       624

In [49]:
for i in range(1, 20):
    dtc = DecisionTreeClassifier(max_depth=i, random_state=10)
    dtc.fit(X_train, y_train)
    pred = dtc.predict(X_test)
    print(i)
    print(classification_report(y_test, pred))

1
              precision    recall  f1-score   support

           0       0.81      0.85      0.83       386
           1       0.74      0.67      0.70       238

    accuracy                           0.78       624
   macro avg       0.77      0.76      0.77       624
weighted avg       0.78      0.78      0.78       624

2
              precision    recall  f1-score   support

           0       0.81      0.87      0.84       386
           1       0.77      0.68      0.72       238

    accuracy                           0.80       624
   macro avg       0.79      0.77      0.78       624
weighted avg       0.80      0.80      0.80       624

3
              precision    recall  f1-score   support

           0       0.82      0.90      0.85       386
           1       0.80      0.67      0.73       238

    accuracy                           0.81       624
   macro avg       0.81      0.78      0.79       624
weighted avg       0.81      0.81      0.81       624

4
              precision    recall  f1-score   support

           0       0.82      0.88      0.85       386
           1       0.78      0.69      0.73       238

    accuracy                           0.81       624
   macro avg       0.80      0.78      0.79       624
weighted avg       0.81      0.81      0.81       624

5
              precision    recall  f1-score   support

           0       0.81      0.88      0.85       386
           1       0.78      0.67      0.72       238

    accuracy                           0.80       624
   macro avg       0.80      0.78      0.78       624
weighted avg       0.80      0.80      0.80       624

6
              precision    recall  f1-score   support

           0       0.80      0.90      0.84       386
           1       0.79      0.63      0.70       238

    accuracy                           0.79       624
   macro avg       0.79      0.76      0.77       624
weighted avg       0.79      0.79      0.79       624

7
              precision    recall  f1-score   support

           0       0.79      0.87      0.83       386
           1       0.75      0.62      0.68       238

    accuracy                           0.78       624
   macro avg       0.77      0.75      0.75       624
weighted avg       0.77      0.78      0.77       624

8
              precision    recall  f1-score   support

           0       0.79      0.89      0.84       386
           1       0.78      0.62      0.69       238

    accuracy                           0.79       624
   macro avg       0.79      0.76      0.76       624
weighted avg       0.79      0.79      0.78       624

9
              precision    recall  f1-score   support

           0       0.79      0.87      0.83       386
           1       0.75      0.63      0.69       238

    accuracy                           0.78       624
   macro avg       0.77      0.75      0.76       624
weighted avg       0.78      0.78      0.78       624

10
              precision    recall  f1-score   support

           0       0.79      0.88      0.83       386
           1       0.76      0.62      0.68       238

    accuracy                           0.78       624
   macro avg       0.77      0.75      0.76       624
weighted avg       0.78      0.78      0.77       624

11
              precision    recall  f1-score   support

           0       0.79      0.86      0.82       386
           1       0.74      0.62      0.67       238

    accuracy                           0.77       624
   macro avg       0.76      0.74      0.75       624
weighted avg       0.77      0.77      0.77       624

12
              precision    recall  f1-score   support

           0       0.78      0.86      0.82       386
           1       0.73      0.62      0.67       238

    accuracy                           0.77       624
   macro avg       0.76      0.74      0.74       624
weighted avg       0.76      0.77      0.76       624

13
              precision    recall  f1-score   support

           0       0.78      0.86      0.82       386
           1       0.73      0.62      0.67       238

    accuracy                           0.77       624
   macro avg       0.76      0.74      0.75       624
weighted avg       0.76      0.77      0.76       624

14
              precision    recall  f1-score   support

           0       0.78      0.86      0.82       386
           1       0.73      0.62      0.67       238

    accuracy                           0.77       624
   macro avg       0.76      0.74      0.75       624
weighted avg       0.76      0.77      0.76       624

15
              precision    recall  f1-score   support

           0       0.78      0.86      0.82       386
           1       0.73      0.62      0.67       238

    accuracy                           0.77       624
   macro avg       0.76      0.74      0.75       624
weighted avg       0.76      0.77      0.76       624

16
              precision    recall  f1-score   support

           0       0.78      0.86      0.82       386
           1       0.73      0.62      0.67       238

    accuracy                           0.77       624
   macro avg       0.76      0.74      0.75       624
weighted avg       0.76      0.77      0.76       624

17
              precision    recall  f1-score   support

           0       0.78      0.86      0.82       386
           1       0.73      0.62      0.67       238

    accuracy                           0.77       624
   macro avg       0.76      0.74      0.75       624
weighted avg       0.76      0.77      0.76       624

18
              precision    recall  f1-score   support

           0       0.78      0.86      0.82       386
           1       0.73      0.62      0.67       238

    accuracy                           0.77       624
   macro avg       0.76      0.74      0.75       624
weighted avg       0.76      0.77      0.76       624

19
              precision    recall  f1-score   support

           0       0.78      0.86      0.82       386
           1       0.73      0.62      0.67       238

    accuracy                           0.77       624
   macro avg       0.76      0.74      0.75       624
weighted avg       0.76      0.77      0.76       624

# Tensorflow Sequential API를 사용한 순차적 모델

In [30]:
pip install tensorflow

Collecting tensorflow
  Downloading tensorflow-2.17.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.2 kB)
Collecting absl-py>=1.0.0 (from tensorflow)
  Using cached absl_py-2.1.0-py3-none-any.whl.metadata (2.3 kB)
Collecting astunparse>=1.6.0 (from tensorflow)
  Using cached astunparse-1.6.3-py2.py3-none-any.whl.metadata (4.4 kB)
Collecting flatbuffers>=24.3.25 (from tensorflow)
  Using cached flatbuffers-24.3.25-py2.py3-none-any.whl.metadata (850 bytes)
Collecting gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 (from tensorflow)
  Downloading gast-0.6.0-py3-none-any.whl.metadata (1.3 kB)
Collecting google-pasta>=0.1.1 (from tensorflow)
  Using cached google_pasta-0.2.0-py3-none-any.whl.metadata (814 bytes)
Collecting h5py>=3.10.0 (from tensorflow)
  Downloading h5py-3.11.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.5 kB)
Collecting libclang>=13.0.0 (from tensorflow)
  Using cached libclang-18.1.1-py2.py3-none-manylinux2010_x86_64.whl.metadata (5.2 kB)
Collecting ml-dtypes<0.5.0,>=0.3.1 (from tensorflow)
  Downloading ml_dtypes-0.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (20 kB)
Collecting opt-einsum>=2.3.2 (from tensorflow)
  Using cached opt_einsum-3.3.0-py3-none-any.whl.metadata (6.5 kB)
Requirement already satisfied: packaging in /home/user/miniforge3/envs/nlp/lib/python3.10/site-packages (from tensorflow) (24.1)
Collecting protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 (from tensorflow)
  Downloading protobuf-4.25.4-cp37-abi3-manylinux2014_x86_64.whl.metadata (541 bytes)
Requirement already satisfied: requests<3,>=2.21.0 in /home/user/miniforge3/envs/nlp/lib/python3.10/site-packages (from tensorflow) (2.32.3)
Requirement already satisfied: setuptools in /home/user/miniforge3/envs/nlp/lib/python3.10/site-packages (from tensorflow) (72.2.0)
Requirement already satisfied: six>=1.12.0 in /home/user/miniforge3/envs/nlp/lib/python3.10/site-packages (from tensorflow) (1.16.0)
Collecting termcolor>=1.1.0 (from tensorflow)
  Using cached termcolor-2.4.0-py3-none-any.whl.metadata (6.1 kB)
Requirement already satisfied: typing-extensions>=3.6.6 in /home/user/miniforge3/envs/nlp/lib/python3.10/site-packages (from tensorflow) (4.12.2)
Collecting wrapt>=1.11.0 (from tensorflow)
  Downloading wrapt-1.16.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.6 kB)
Collecting grpcio<2.0,>=1.24.3 (from tensorflow)
  Downloading grpcio-1.66.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.9 kB)
Collecting tensorboard<2.18,>=2.17 (from tensorflow)
  Downloading tensorboard-2.17.1-py3-none-any.whl.metadata (1.6 kB)
Collecting keras>=3.2.0 (from tensorflow)
  Downloading keras-3.5.0-py3-none-any.whl.metadata (5.8 kB)
Collecting tensorflow-io-gcs-filesystem>=0.23.1 (from tensorflow)
  Downloading tensorflow_io_gcs_filesystem-0.37.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (14 kB)
Collecting numpy<2.0.0,>=1.23.5 (from tensorflow)
  Downloading numpy-1.26.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /home/user/miniforge3/envs/nlp/lib/python3.10/site-packages (from astunparse>=1.6.0->tensorflow) (0.44.0)
Collecting rich (from keras>=3.2.0->tensorflow)
  Downloading rich-13.8.0-py3-none-any.whl.metadata (18 kB)
Collecting namex (from keras>=3.2.0->tensorflow)
  Downloading namex-0.0.8-py3-none-any.whl.metadata (246 bytes)
Collecting optree (from keras>=3.2.0->tensorflow)
  Downloading optree-0.12.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (47 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/user/miniforge3/envs/nlp/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/user/miniforge3/envs/nlp/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorflow) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/user/miniforge3/envs/nlp/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorflow) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /home/user/miniforge3/envs/nlp/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorflow) (2024.8.30)
Collecting markdown>=2.6.8 (from tensorboard<2.18,>=2.17->tensorflow)
  Using cached Markdown-3.7-py3-none-any.whl.metadata (7.0 kB)
Collecting tensorboard-data-server<0.8.0,>=0.7.0 (from tensorboard<2.18,>=2.17->tensorflow)
  Downloading tensorboard_data_server-0.7.2-py3-none-manylinux_2_31_x86_64.whl.metadata (1.1 kB)
Collecting werkzeug>=1.0.1 (from tensorboard<2.18,>=2.17->tensorflow)
  Using cached werkzeug-3.0.4-py3-none-any.whl.metadata (3.7 kB)
Requirement already satisfied: MarkupSafe>=2.1.1 in /home/user/miniforge3/envs/nlp/lib/python3.10/site-packages (from werkzeug>=1.0.1->tensorboard<2.18,>=2.17->tensorflow) (2.1.5)
Collecting markdown-it-py>=2.2.0 (from rich->keras>=3.2.0->tensorflow)
  Downloading markdown_it_py-3.0.0-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /home/user/miniforge3/envs/nlp/lib/python3.10/site-packages (from rich->keras>=3.2.0->tensorflow) (2.18.0)
Collecting mdurl~=0.1 (from markdown-it-py>=2.2.0->rich->keras>=3.2.0->tensorflow)
  Downloading mdurl-0.1.2-py3-none-any.whl.metadata (1.6 kB)
Downloading tensorflow-2.17.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (601.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 601.3/601.3 MB 29.0 MB/s eta 0:00:0000:0100:01
Using cached absl_py-2.1.0-py3-none-any.whl (133 kB)
Using cached astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Using cached flatbuffers-24.3.25-py2.py3-none-any.whl (26 kB)
Downloading gast-0.6.0-py3-none-any.whl (21 kB)
Using cached google_pasta-0.2.0-py3-none-any.whl (57 kB)
Downloading grpcio-1.66.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (5.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.7/5.7 MB 57.5 MB/s eta 0:00:00
Downloading h5py-3.11.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (5.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.3/5.3 MB 15.3 MB/s eta 0:00:00a 0:00:01
Downloading keras-3.5.0-py3-none-any.whl (1.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 32.8 MB/s eta 0:00:00
Using cached libclang-18.1.1-py2.py3-none-manylinux2010_x86_64.whl (24.5 MB)
Downloading ml_dtypes-0.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 9.0 MB/s eta 0:00:00a 0:00:01
Downloading numpy-1.26.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.2/18.2 MB 63.5 MB/s eta 0:00:00a 0:00:01
Using cached opt_einsum-3.3.0-py3-none-any.whl (65 kB)
Downloading protobuf-4.25.4-cp37-abi3-manylinux2014_x86_64.whl (294 kB)
Downloading tensorboard-2.17.1-py3-none-any.whl (5.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.5/5.5 MB 56.3 MB/s eta 0:00:00
Downloading tensorflow_io_gcs_filesystem-0.37.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (5.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.1/5.1 MB 29.6 MB/s eta 0:00:00
Using cached termcolor-2.4.0-py3-none-any.whl (7.7 kB)
Downloading wrapt-1.16.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (80 kB)
Using cached Markdown-3.7-py3-none-any.whl (106 kB)
Downloading tensorboard_data_server-0.7.2-py3-none-manylinux_2_31_x86_64.whl (6.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.6/6.6 MB 11.1 MB/s eta 0:00:00a 0:00:01
Using cached werkzeug-3.0.4-py3-none-any.whl (227 kB)
Downloading namex-0.0.8-py3-none-any.whl (5.8 kB)
Downloading optree-0.12.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (347 kB)
Downloading rich-13.8.0-py3-none-any.whl (241 kB)
Downloading markdown_it_py-3.0.0-py3-none-any.whl (87 kB)
Downloading mdurl-0.1.2-py3-none-any.whl (10.0 kB)
Installing collected packages: namex, libclang, flatbuffers, wrapt, werkzeug, termcolor, tensorflow-io-gcs-filesystem, tensorboard-data-server, protobuf, optree, numpy, mdurl, markdown, grpcio, google-pasta, gast, astunparse, absl-py, tensorboard, opt-einsum, ml-dtypes, markdown-it-py, h5py, rich, keras, tensorflow
  Attempting uninstall: numpy
    Found existing installation: numpy 2.1.0
    Uninstalling numpy-2.1.0:
      Successfully uninstalled numpy-2.1.0
Successfully installed absl-py-2.1.0 astunparse-1.6.3 flatbuffers-24.3.25 gast-0.6.0 google-pasta-0.2.0 grpcio-1.66.1 h5py-3.11.0 keras-3.5.0 libclang-18.1.1 markdown-3.7 markdown-it-py-3.0.0 mdurl-0.1.2 ml-dtypes-0.4.0 namex-0.0.8 numpy-1.26.4 opt-einsum-3.3.0 optree-0.12.1 protobuf-4.25.4 rich-13.8.0 tensorboard-2.17.1 tensorboard-data-server-0.7.2 tensorflow-2.17.0 tensorflow-io-gcs-filesystem-0.37.1 termcolor-2.4.0 werkzeug-3.0.4 wrapt-1.16.0
Note: you may need to restart the kernel to use updated packages.

In [34]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

## 딥러닝 신경망 모델 정의

In [35]:
X_train

       Pclass       Age    family  Sex_male  Embarked_Q  Embarked_S
247 -0.369365 -0.438572  0.679295 -1.355574   -0.307562    0.615838
5    0.827377  0.000000 -0.560975  0.737695    3.251373   -1.623803
563  0.827377  0.000000 -0.560975  0.737695   -0.307562    0.615838
636  0.827377  0.177063 -0.560975  0.737695   -0.307562    0.615838
145 -0.369365 -0.823344  0.679295  0.737695   -0.307562    0.615838
..        ...       ...       ...       ...         ...         ...
369 -1.566107 -0.438572 -0.560975 -1.355574   -0.307562   -1.623803
320  0.827377 -0.592481 -0.560975  0.737695   -0.307562    0.615838
527 -1.566107  0.000000 -0.560975  0.737695   -0.307562    0.615838
125  0.827377 -1.362024  0.059160  0.737695   -0.307562   -1.623803
265 -0.369365  0.484880 -0.560975  0.737695   -0.307562    0.615838

[267 rows x 6 columns]

In [50]:
X_train.shape[1]

6

In [57]:
from keras.models import Sequential
from keras.layers import Dense, Input

model = Sequential([
    Input(shape=(784,)),  # Input 레이어를 추가하여 입력 크기를 명시
    Dense(64),
    Dense(10)
])

In [58]:
# 신경망 모델 정의
model = Sequential()
model.add(Dense(32, input_dim=X_train.shape[1], activation='relu')) # 입력층, input_dim: 독립변수의 컬럼 수
model.add(Dense(64, activation='relu')) # 은닉층 1
model.add(Dense(32, activation='relu')) # 은닉층 2
model.add(Dense(16, activation='relu')) # 은닉층 3
model.add(Dense(1, activation='sigmoid')) # 출력층, 이진분류: sigmoid

# 모델 파라미터 세팅 model.compile()
* loss: 오차 계산 지표 
  * 이진분류: binary_crossentropy
  * 다중분류: categorical_crossentropy
  * 데이터에 0이 많은 희소행렬인 경우: sparse_categorical_crossentropy
  * 연속형데이터(회귀분석): mse
* optimizer: learning_rate
  * adam 을 가장 많이 사용

In [59]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# 모델 훈련
* epochs : 전체 데이터를 한번 훈련하는 주기
* batch_size : 전체 데이터를 쪼개서 훈련, 메모리에 맞춰서 크기 조절
* validation_data : 검증 데이터로 모델 검증실시

In [60]:
history = model.fit(X_train, y_train, epochs = 200, batch_size = 40, validation_data = (X_test, y_test))

ValueError: object __array__ method not producing an array