In [1]:
import pandas as pd
import glob

# 각 월별 파일 경로 불러오기
all_files = []

for i in range(1, 10):
    output1 = glob.glob(f'data/*0{i}.csv')
    all_files.extend(output1)  # 모든 파일 경로를 리스트에 추가

# 파일을 읽어서 데이터프레임으로 저장 (sep=None로 구분자 자동 감지)
data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]

# 하나의 데이터프레임으로 합치기
combined_df = pd.concat(data_frames, ignore_index=True)

# 데이터 확인
print(combined_df.head())

C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\2907989544.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat(data_frames, ignore_index=True)

               시군구   번지   본번   부번   단지명  전용면적(㎡)    계약년월 계약일 거래금액(만원)   층  \
0  강원특별자치도 강릉시 견소동  202  202  0.0  송정한신   84.945  200701   4    8,000  15
1  강원특별자치도 강릉시 견소동  202  202  0.0  송정한신   84.930  200701   8    8,100   7
2  강원특별자치도 강릉시 견소동  202  202  0.0  송정한신   84.945  200701   8    8,200  14
3  강원특별자치도 강릉시 견소동  202  202  0.0  송정한신   84.945  200701  25    7,900  15
4  강원특별자치도 강릉시 견소동  202  202  0.0  송정한신   84.930  200701  31    6,000   4

   ...          도로명 해제사유발생일 등기신청일자 거래유형 중개사소재지  NO    동  매수자  매도자 등기일자
0  ...  경강로2539번길 8     NaN           -      - NaN  NaN  NaN  NaN  NaN
1  ...  경강로2539번길 8     NaN           -      - NaN  NaN  NaN  NaN  NaN
2  ...  경강로2539번길 8     NaN           -      - NaN  NaN  NaN  NaN  NaN
3  ...  경강로2539번길 8     NaN           -      - NaN  NaN  NaN  NaN  NaN
4  ...  경강로2539번길 8     NaN           -      - NaN  NaN  NaN  NaN  NaN

[5 rows x 21 columns]

In [2]:
# 각 월별 파일 경로 불러오기
all_files2 = []

for i in range(10, 13):
    output2 = glob.glob(f'data/*{i}.csv')
    all_files2.extend(output2)  # 모든 파일 경로를 리스트에 추가

# 파일을 읽어서 데이터프레임으로 저장 (sep=None로 구분자 자동 감지)
data_frames2 = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files2]

# 하나의 데이터프레임으로 합치기
combined_df2 = pd.concat(data_frames2, ignore_index=True)

# 데이터 확인
print(combined_df2.head())

C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\911023087.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames2 = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files2]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\911023087.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames2 = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files2]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\911023087.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames2 = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files2]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\911023087.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames2 = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files2]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\911023087.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames2 = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files2]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\911023087.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames2 = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files2]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\911023087.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames2 = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files2]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\911023087.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames2 = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files2]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\911023087.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames2 = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files2]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\911023087.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames2 = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files2]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\911023087.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames2 = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files2]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\911023087.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames2 = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files2]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\911023087.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frames2 = [pd.read_csv(file,encoding='cp949', skiprows=15) for file in all_files2]
C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\911023087.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df2 = pd.concat(data_frames2, ignore_index=True)

               시군구     번지   본번   부번    단지명  전용면적(㎡)    계약년월 계약일 거래금액(만원)   층  \
0     경기도 의정부시 민락동  756-7  756  7.0  한라비발디   84.990  200510  30   12,750  19
1     경기도 의정부시 신곡동    456  456  0.0    신일1   59.878  200510  20    5,750   3
2     경기도 의정부시 신곡동  727-1  727  1.0     풍림   49.830  200510  20    5,500   8
3  강원특별자치도 강릉시 견소동    202  202  0.0   송정한신   59.800  200610   9    5,500   4
4  강원특별자치도 강릉시 견소동    202  202  0.0   송정한신   43.380  200610  19    3,900   3

   ...          도로명 해제사유발생일 등기신청일자 거래유형 중개사소재지  NO    동  매수자  매도자 등기일자
0  ...       오목로 73     NaN           -      - NaN  NaN  NaN  NaN  NaN
1  ...  시민로245번길 10     NaN           -      - NaN  NaN  NaN  NaN  NaN
2  ...      회룡로 245     NaN           -      - NaN  NaN  NaN  NaN  NaN
3  ...  경강로2539번길 8     NaN           -      - NaN  NaN  NaN  NaN  NaN
4  ...  경강로2539번길 8     NaN           -      - NaN  NaN  NaN  NaN  NaN

[5 rows x 21 columns]

In [3]:
import pandas as pd
import time

# 시간 기록 시작
start_time = time.time()

# 진행 상황 확인을 위한 메시지 출력
print("Concatenation started...")

# 데이터프레임 결합
apt_result = pd.concat([combined_df, combined_df2], axis=0)

# 시간 기록 종료
end_time = time.time()

# 완료 메시지 및 소요 시간 출력
print(f"Concatenation completed in {end_time - start_time:.2f} seconds.")

Concatenation started...
Concatenation completed in 0.80 seconds.

# 전국 학원 정보 가져와서 합치기 (시군구 단위)

In [13]:
academy_data = pd.read_csv("./data/학원교습소정보_2024년08월31일기준.csv",encoding='cp949')

C:\Users\5-12\AppData\Local\Temp\ipykernel_3144\873938545.py:1: DtypeWarning: Columns (6,22) have mixed types. Specify dtype option on import or set low_memory=False.
  academy_data = pd.read_csv("./data/학원교습소정보_2024년08월31일기준.csv",encoding='cp949')

In [14]:
academy_result = academy_data.copy()

In [15]:
apt_result.iloc[:, [0]]

                         시군구
0            강원특별자치도 강릉시 견소동
1            강원특별자치도 강릉시 견소동
2            강원특별자치도 강릉시 견소동
3            강원특별자치도 강릉시 견소동
4            강원특별자치도 강릉시 견소동
...                      ...
2399984          경기도 오산시 세교동
2399985          울산광역시 남구 옥동
2399986  제주특별자치도 제주시 한림읍 한림리
2399987         세종특별자치시  고운동
2399988        서울특별시 마포구 상암동

[10041451 rows x 1 columns]

In [16]:
# '시군구' 컬럼을 공백 기준으로 분리하여 '도'와 '시/군/구'로 나눔
apt_new = apt_result['시군구'].str.split(' ', n=2, expand=True)[[0, 1]]

# 결과 확인
apt_new.head()

         0    1
0  강원특별자치도  강릉시
1  강원특별자치도  강릉시
2  강원특별자치도  강릉시
3  강원특별자치도  강릉시
4  강원특별자치도  강릉시

In [25]:
# '고양일산서구'와 같이 5글자인 경우 앞에 2글자를 떼와서 '시'를 붙여주는 작업
apt_new[1] = apt_new[1].apply(lambda x: x[:2] + '시' if len(x) >= 5 else x)

# 결과 확인
apt_new.head()

         0    1
0  강원특별자치도  강릉시
1  강원특별자치도  강릉시
2  강원특별자치도  강릉시
3  강원특별자치도  강릉시
4  강원특별자치도  강릉시

In [26]:
# 중복된 표현을 한 가지로 통일
apt_new[1] = apt_new[1].replace({
    '고양': '고양시', 
    '성남': '성남시', 
    '수원': '수원시', 
    '미추홀': '미추홀구',
    '전주': '전주시', 
    '청주': '청주시', 
    '천안': '천안시', 
    '안산': '안산시', 
    '안양': '안양시', 
    '용인': '용인시', 
    '창원': '창원시',
    '해운대' : '해운대구',
    '세종시' : '세종특별자치시',
    '서귀포' : '서귀포구',
    '포항남': '포항시',
    '포항북': '포항시',
    '동두천': '동두천시',
    '부산진': '부산시',
    '영등포': '영등포구',
    '서귀포구': '서귀포시'})

In [27]:
apt_new[1].unique()

array(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시',
       '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군',
       '가평군', '고양시', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시',
       '동두천시', '부천시', '성남시', '수원시', '시흥시', '안산시', '안성시', '안양시', '양주시',
       '양평군', '여주시', '연천군', '오산시', '용인시', '의왕시', '의정부시', '이천시', '파주시',
       '평택시', '포천시', '하남시', '화성시', '거제시', '거창군', '김해시', '남해군', '밀양시',
       '사천시', '산청군', '양산시', '의령군', '진주시', '창녕군', '창원시', '통영시', '함안군',
       '함양군', '합천군', '경산시', '경주시', '고령군', '구미시', '김천시', '문경시', '봉화군',
       '상주시', '성주군', '안동시', '영덕군', '영주시', '영천시', '예천군', '울릉군', '울진군',
       '의성군', '청도군', '청송군', '칠곡군', '포항남구', '포항북구', '광산구', '남구', '동구',
       '북구', '서구', '군위군', '달서구', '달성군', '수성구', '중구', '대덕구', '유성구', '강서구',
       '금정구', '기장군', '동래구', '부산진구', '사상구', '사하구', '수영구', '연제구', '영도구',
       '해운대구', '강남구', '강동구', '강북구', '관악구', '광진구', '구로구', '금천구', '노원구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '용산구', '은평구', '종로구', '중랑구', '금남면', '소정면', '연동면',
       '연서면', '전의면', '조치원읍', '울주군', '강화군', '계양구', '남동구', '미추홀구', '부평구',
       '연수구', '강진군', '고흥군', '곡성군', '광양시', '구례군', '나주시', '담양군', '목포시',
       '무안군', '보성군', '순천시', '여수시', '영광군', '영암군', '완도군', '장성군', '장흥군',
       '진도군', '함평군', '해남군', '화순군', '고창군', '군산시', '김제시', '남원시', '무주군',
       '부안군', '순창군', '완주군', '익산시', '임실군', '장수군', '전주시', '정읍시', '진안군',
       '서귀포시', '제주시', '계룡시', '공주시', '금산군', '논산시', '당진시', '보령시', '부여군',
       '서산시', '서천군', '아산시', '예산군', '천안시', '청양군', '태안군', '홍성군', '괴산군',
       '단양군', '보은군', '영동군', '옥천군', '음성군', '제천시', '증평군', '진천군', '청주시',
       '충주시', '하동군', '부강면', '영양군', '한솔동', '나성동', '어진동', '전동면', '고운동',
       '도담동', '아름동', '장군면', '종촌동', '소담동', '신안군', '대평동', '보람동', '새롬동',
       '다정동', '반곡동', '해밀동', '집현동', '', '포항시', '가람동'], dtype=object)

In [28]:
academy_result['행정구역명'].unique()

array(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구', nan, '금정구', '기장군',
       '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구',
       '영도구', '해운대구', '군위군', '달서구', '달성군', '수성구', '강화군', '계양구', '남동구',
       '미추홀구', '부평구', '연수구', '옹진군', '광산구', '대덕구', '유성구', '울주군', '세종특별자치시',
       '가평군', '고양시', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시',
       '동두천시', '부천시', '성남시', '수원시', '시흥시', '안산시', '안성시', '안양시', '양주시',
       '양평군', '여주시', '연천군', '오산시', '용인시', '의왕시', '의정부시', '이천시', '파주시',
       '평택시', '포천시', '하남시', '화성시', '강릉시', '고성군', '동해시', '삼척시', '속초시',
       '양구군', '양양군', '영월군', '원주시', '인제군', '정선군', '철원군', '춘천시', '태백시',
       '평창군', '홍천군', '화천군', '횡성군', '괴산군', '단양군', '보은군', '상당구', '서원구',
       '영동군', '옥천군', '음성군', '제천시', '증평군', '진천군', '청원구', '청주시', '충주시',
       '흥덕구', '계룡시', '공주시', '금산군', '논산시', '당진시', '보령시', '부여군', '서산시',
       '서천군', '아산시', '연기군', '예산군', '천안시', '청양군', '태안군', '홍성군', '고창군',
       '군산시', '김제시', '남원시', '무주군', '부안군', '순창군', '완주군', '익산시', '임실군',
       '장수군', '전주시', '정읍시', '진안군', '강진군', '고흥군', '곡성군', '광양시', '구례군',
       '나주시', '담양군', '목포시', '무안군', '보성군', '순천시', '신안군', '여수시', '영광군',
       '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군', '해남군', '화순군', '경산시',
       '경주시', '고령군', '구미시', '김천시', '문경시', '봉화군', '상주시', '성주군', '안동시',
       '영덕군', '영양군', '영주시', '영천시', '예천군', '울릉군', '울진군', '의성군', '청도군',
       '청송군', '칠곡군', '포항시', '거제시', '거창군', '김해시', '남해군', '밀양시', '사천시',
       '산청군', '양산시', '의령군', '진주시', '창녕군', '창원시', '창원시(폐지)', '통영시', '하동군',
       '함안군', '함양군', '합천군', '서귀포시', '제주시'], dtype=object)

In [29]:
# apt_new[1]과 academy_result['행정구역명']의 서로 다른 값을 비교
apt_set = set(apt_new[1].unique())
academy_set = set(academy_result['행정구역명'].unique())

# apt_new에만 있는 값
only_in_apt = apt_set - academy_set
print("apt_new에만 있는 값:", only_in_apt)

# academy_result에만 있는 값
only_in_academy = academy_set - apt_set
print("academy_result에만 있는 값:", only_in_academy)

apt_new에만 있는 값: {'', '연동면', '새롬동', '장군면', '포항남구', '집현동', '대평동', '전의면', '전동면', '종촌동', '해밀동', '포항북구', '소담동', '아름동', '고운동', '가람동', '다정동', '한솔동', '조치원읍', '부강면', '연서면', '도담동', '반곡동', '나성동', '보람동', '소정면', '어진동', '금남면'}
academy_result에만 있는 값: {'청원구', '흥덕구', '서원구', '연기군', '창원시(폐지)', '옹진군', '세종특별자치시', '상당구', nan}

In [32]:
# apt_new에 세종특별자치시에 해당하는 값들을 '세종특별자치시'로 대체
apt_new[1] = apt_new[1].replace(
    {'연동면', '새롬동', '장군면', '집현동', '대평동', '전의면', '전동면', '종촌동', '해밀동',
     '소담동', '아름동', '고운동', '가람동', '다정동', '한솔동', '조치원읍', '부강면', '연서면',
     '도담동', '반곡동', '나성동', '보람동', '소정면', '어진동', '금남면'}, '세종특별자치시'
)

# 결과 확인
apt_new[1].unique()

array(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시',
       '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군',
       '가평군', '고양시', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시',
       '동두천시', '부천시', '성남시', '수원시', '시흥시', '안산시', '안성시', '안양시', '양주시',
       '양평군', '여주시', '연천군', '오산시', '용인시', '의왕시', '의정부시', '이천시', '파주시',
       '평택시', '포천시', '하남시', '화성시', '거제시', '거창군', '김해시', '남해군', '밀양시',
       '사천시', '산청군', '양산시', '의령군', '진주시', '창녕군', '창원시', '통영시', '함안군',
       '함양군', '합천군', '경산시', '경주시', '고령군', '구미시', '김천시', '문경시', '봉화군',
       '상주시', '성주군', '안동시', '영덕군', '영주시', '영천시', '예천군', '울릉군', '울진군',
       '의성군', '청도군', '청송군', '칠곡군', '포항남구', '포항북구', '광산구', '남구', '동구',
       '북구', '서구', '군위군', '달서구', '달성군', '수성구', '중구', '대덕구', '유성구', '강서구',
       '금정구', '기장군', '동래구', '부산진구', '사상구', '사하구', '수영구', '연제구', '영도구',
       '해운대구', '강남구', '강동구', '강북구', '관악구', '광진구', '구로구', '금천구', '노원구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '용산구', '은평구', '종로구', '중랑구', '세종특별자치시', '울주군', '강화군',
       '계양구', '남동구', '미추홀구', '부평구', '연수구', '강진군', '고흥군', '곡성군', '광양시',
       '구례군', '나주시', '담양군', '목포시', '무안군', '보성군', '순천시', '여수시', '영광군',
       '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군', '해남군', '화순군', '고창군',
       '군산시', '김제시', '남원시', '무주군', '부안군', '순창군', '완주군', '익산시', '임실군',
       '장수군', '전주시', '정읍시', '진안군', '서귀포시', '제주시', '계룡시', '공주시', '금산군',
       '논산시', '당진시', '보령시', '부여군', '서산시', '서천군', '아산시', '예산군', '천안시',
       '청양군', '태안군', '홍성군', '괴산군', '단양군', '보은군', '영동군', '옥천군', '음성군',
       '제천시', '증평군', '진천군', '청주시', '충주시', '하동군', '영양군', '신안군', '', '포항시'],
      dtype=object)

In [35]:
apt_new[1] = apt_new[1].replace('', '세종특별자치시')

In [36]:
apt_new[1].unique()

array(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시',
       '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군',
       '가평군', '고양시', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시',
       '동두천시', '부천시', '성남시', '수원시', '시흥시', '안산시', '안성시', '안양시', '양주시',
       '양평군', '여주시', '연천군', '오산시', '용인시', '의왕시', '의정부시', '이천시', '파주시',
       '평택시', '포천시', '하남시', '화성시', '거제시', '거창군', '김해시', '남해군', '밀양시',
       '사천시', '산청군', '양산시', '의령군', '진주시', '창녕군', '창원시', '통영시', '함안군',
       '함양군', '합천군', '경산시', '경주시', '고령군', '구미시', '김천시', '문경시', '봉화군',
       '상주시', '성주군', '안동시', '영덕군', '영주시', '영천시', '예천군', '울릉군', '울진군',
       '의성군', '청도군', '청송군', '칠곡군', '포항남구', '포항북구', '광산구', '남구', '동구',
       '북구', '서구', '군위군', '달서구', '달성군', '수성구', '중구', '대덕구', '유성구', '강서구',
       '금정구', '기장군', '동래구', '부산진구', '사상구', '사하구', '수영구', '연제구', '영도구',
       '해운대구', '강남구', '강동구', '강북구', '관악구', '광진구', '구로구', '금천구', '노원구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '용산구', '은평구', '종로구', '중랑구', '세종특별자치시', '울주군', '강화군',
       '계양구', '남동구', '미추홀구', '부평구', '연수구', '강진군', '고흥군', '곡성군', '광양시',
       '구례군', '나주시', '담양군', '목포시', '무안군', '보성군', '순천시', '여수시', '영광군',
       '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군', '해남군', '화순군', '고창군',
       '군산시', '김제시', '남원시', '무주군', '부안군', '순창군', '완주군', '익산시', '임실군',
       '장수군', '전주시', '정읍시', '진안군', '서귀포시', '제주시', '계룡시', '공주시', '금산군',
       '논산시', '당진시', '보령시', '부여군', '서산시', '서천군', '아산시', '예산군', '천안시',
       '청양군', '태안군', '홍성군', '괴산군', '단양군', '보은군', '영동군', '옥천군', '음성군',
       '제천시', '증평군', '진천군', '청주시', '충주시', '하동군', '영양군', '신안군', '포항시'],
      dtype=object)

In [37]:
academy_result['행정구역명'].unique()

array(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구', nan, '금정구', '기장군',
       '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구',
       '영도구', '해운대구', '군위군', '달서구', '달성군', '수성구', '강화군', '계양구', '남동구',
       '미추홀구', '부평구', '연수구', '옹진군', '광산구', '대덕구', '유성구', '울주군', '세종특별자치시',
       '가평군', '고양시', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시',
       '동두천시', '부천시', '성남시', '수원시', '시흥시', '안산시', '안성시', '안양시', '양주시',
       '양평군', '여주시', '연천군', '오산시', '용인시', '의왕시', '의정부시', '이천시', '파주시',
       '평택시', '포천시', '하남시', '화성시', '강릉시', '고성군', '동해시', '삼척시', '속초시',
       '양구군', '양양군', '영월군', '원주시', '인제군', '정선군', '철원군', '춘천시', '태백시',
       '평창군', '홍천군', '화천군', '횡성군', '괴산군', '단양군', '보은군', '상당구', '청주시',
       '영동군', '옥천군', '음성군', '제천시', '증평군', '진천군', '충주시', '계룡시', '공주시',
       '금산군', '논산시', '당진시', '보령시', '부여군', '서산시', '서천군', '아산시', '연기군',
       '예산군', '천안시', '청양군', '태안군', '홍성군', '고창군', '군산시', '김제시', '남원시',
       '무주군', '부안군', '순창군', '완주군', '익산시', '임실군', '장수군', '전주시', '정읍시',
       '진안군', '강진군', '고흥군', '곡성군', '광양시', '구례군', '나주시', '담양군', '목포시',
       '무안군', '보성군', '순천시', '신안군', '여수시', '영광군', '영암군', '완도군', '장성군',
       '장흥군', '진도군', '함평군', '해남군', '화순군', '경산시', '경주시', '고령군', '구미시',
       '김천시', '문경시', '봉화군', '상주시', '성주군', '안동시', '영덕군', '영양군', '영주시',
       '영천시', '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '칠곡군', '포항시',
       '거제시', '거창군', '김해시', '남해군', '밀양시', '사천시', '산청군', '양산시', '의령군',
       '진주시', '창녕군', '창원시', '창원시(폐지)', '통영시', '하동군', '함안군', '함양군', '합천군',
       '서귀포시', '제주시'], dtype=object)

In [38]:
# NaN 값과 '창원시(폐지)'를 삭제하는 코드
academy_result_cleaned = academy_result.dropna(subset=['행정구역명'])  # NaN 값 삭제
academy_result_cleaned = academy_result_cleaned[academy_result_cleaned['행정구역명'] != '창원시(폐지)']  # '창원시(폐지)' 삭제

# 결과 확인
print(academy_result_cleaned['행정구역명'].unique())

['강남구' '강동구' '강북구' '강서구' '관악구' '광진구' '구로구' '금천구' '노원구' '도봉구' '동대문구' '동작구'
 '마포구' '서대문구' '서초구' '성동구' '성북구' '송파구' '양천구' '영등포구' '용산구' '은평구' '종로구' '중구'
 '중랑구' '금정구' '기장군' '남구' '동구' '동래구' '부산진구' '북구' '사상구' '사하구' '서구' '수영구'
 '연제구' '영도구' '해운대구' '군위군' '달서구' '달성군' '수성구' '강화군' '계양구' '남동구' '미추홀구' '부평구'
 '연수구' '옹진군' '광산구' '대덕구' '유성구' '울주군' '세종특별자치시' '가평군' '고양시' '과천시' '광명시'
 '광주시' '구리시' '군포시' '김포시' '남양주시' '동두천시' '부천시' '성남시' '수원시' '시흥시' '안산시' '안성시'
 '안양시' '양주시' '양평군' '여주시' '연천군' '오산시' '용인시' '의왕시' '의정부시' '이천시' '파주시' '평택시'
 '포천시' '하남시' '화성시' '강릉시' '고성군' '동해시' '삼척시' '속초시' '양구군' '양양군' '영월군' '원주시'
 '인제군' '정선군' '철원군' '춘천시' '태백시' '평창군' '홍천군' '화천군' '횡성군' '괴산군' '단양군' '보은군'
 '상당구' '청주시' '영동군' '옥천군' '음성군' '제천시' '증평군' '진천군' '충주시' '계룡시' '공주시' '금산군'
 '논산시' '당진시' '보령시' '부여군' '서산시' '서천군' '아산시' '연기군' '예산군' '천안시' '청양군' '태안군'
 '홍성군' '고창군' '군산시' '김제시' '남원시' '무주군' '부안군' '순창군' '완주군' '익산시' '임실군' '장수군'
 '전주시' '정읍시' '진안군' '강진군' '고흥군' '곡성군' '광양시' '구례군' '나주시' '담양군' '목포시' '무안군'
 '보성군' '순천시' '신안군' '여수시' '영광군' '영암군' '완도군' '장성군' '장흥군' '진도군' '함평군' '해남군'
 '화순군' '경산시' '경주시' '고령군' '구미시' '김천시' '문경시' '봉화군' '상주시' '성주군' '안동시' '영덕군'
 '영양군' '영주시' '영천시' '예천군' '울릉군' '울진군' '의성군' '청도군' '청송군' '칠곡군' '포항시' '거제시'
 '거창군' '김해시' '남해군' '밀양시' '사천시' '산청군' '양산시' '의령군' '진주시' '창녕군' '창원시' '통영시'
 '하동군' '함안군' '함양군' '합천군' '서귀포시' '제주시']

In [39]:
# apt_new[1]에서 '포항남구', '포항북구'를 '포항시'로 변경
apt_new[1] = apt_new[1].replace({'포항남구': '포항시', '포항북구': '포항시'})

# academy_result_cleaned에서 '상당구', '서원구', '흥덕구'를 '청주시'로 변경
academy_result_cleaned['행정구역명'] = academy_result_cleaned['행정구역명'].replace({
    '상당구': '청주시', 
    '서원구': '청주시', 
    '흥덕구': '청주시'
})

# 결과 확인
print(sorted(apt_new[1].unique()))
print(sorted(academy_result_cleaned['행정구역명'].unique()))

['가평군', '강남구', '강동구', '강릉시', '강북구', '강서구', '강진군', '강화군', '거제시', '거창군', '경산시', '경주시', '계룡시', '계양구', '고령군', '고성군', '고양시', '고창군', '고흥군', '곡성군', '공주시', '과천시', '관악구', '광명시', '광산구', '광양시', '광주시', '광진구', '괴산군', '구례군', '구로구', '구리시', '구미시', '군산시', '군위군', '군포시', '금산군', '금정구', '금천구', '기장군', '김제시', '김천시', '김포시', '김해시', '나주시', '남구', '남동구', '남양주시', '남원시', '남해군', '노원구', '논산시', '단양군', '달서구', '달성군', '담양군', '당진시', '대덕구', '도봉구', '동구', '동대문구', '동두천시', '동래구', '동작구', '동해시', '마포구', '목포시', '무안군', '무주군', '문경시', '미추홀구', '밀양시', '보령시', '보성군', '보은군', '봉화군', '부산진구', '부안군', '부여군', '부천시', '부평구', '북구', '사상구', '사천시', '사하구', '산청군', '삼척시', '상주시', '서구', '서귀포시', '서대문구', '서산시', '서천군', '서초구', '성남시', '성동구', '성북구', '성주군', '세종특별자치시', '속초시', '송파구', '수성구', '수영구', '수원시', '순창군', '순천시', '시흥시', '신안군', '아산시', '안동시', '안산시', '안성시', '안양시', '양구군', '양산시', '양양군', '양주시', '양천구', '양평군', '여수시', '여주시', '연수구', '연제구', '연천군', '영광군', '영덕군', '영도구', '영동군', '영등포구', '영암군', '영양군', '영월군', '영주시', '영천시', '예산군', '예천군', '오산시', '옥천군', '완도군', '완주군', '용산구', '용인시', '울릉군', '울주군', '울진군', '원주시', '유성구', '은평구', '음성군', '의령군', '의성군', '의왕시', '의정부시', '이천시', '익산시', '인제군', '임실군', '장성군', '장수군', '장흥군', '전주시', '정선군', '정읍시', '제주시', '제천시', '종로구', '중구', '중랑구', '증평군', '진도군', '진안군', '진주시', '진천군', '창녕군', '창원시', '천안시', '철원군', '청도군', '청송군', '청양군', '청주시', '춘천시', '충주시', '칠곡군', '태백시', '태안군', '통영시', '파주시', '평창군', '평택시', '포천시', '포항시', '하남시', '하동군', '함안군', '함양군', '함평군', '합천군', '해남군', '해운대구', '홍성군', '홍천군', '화성시', '화순군', '화천군', '횡성군']
['가평군', '강남구', '강동구', '강릉시', '강북구', '강서구', '강진군', '강화군', '거제시', '거창군', '경산시', '경주시', '계룡시', '계양구', '고령군', '고성군', '고양시', '고창군', '고흥군', '곡성군', '공주시', '과천시', '관악구', '광명시', '광산구', '광양시', '광주시', '광진구', '괴산군', '구례군', '구로구', '구리시', '구미시', '군산시', '군위군', '군포시', '금산군', '금정구', '금천구', '기장군', '김제시', '김천시', '김포시', '김해시', '나주시', '남구', '남동구', '남양주시', '남원시', '남해군', '노원구', '논산시', '단양군', '달서구', '달성군', '담양군', '당진시', '대덕구', '도봉구', '동구', '동대문구', '동두천시', '동래구', '동작구', '동해시', '마포구', '목포시', '무안군', '무주군', '문경시', '미추홀구', '밀양시', '보령시', '보성군', '보은군', '봉화군', '부산진구', '부안군', '부여군', '부천시', '부평구', '북구', '사상구', '사천시', '사하구', '산청군', '삼척시', '상주시', '서구', '서귀포시', '서대문구', '서산시', '서천군', '서초구', '성남시', '성동구', '성북구', '성주군', '세종특별자치시', '속초시', '송파구', '수성구', '수영구', '수원시', '순창군', '순천시', '시흥시', '신안군', '아산시', '안동시', '안산시', '안성시', '안양시', '양구군', '양산시', '양양군', '양주시', '양천구', '양평군', '여수시', '여주시', '연기군', '연수구', '연제구', '연천군', '영광군', '영덕군', '영도구', '영동군', '영등포구', '영암군', '영양군', '영월군', '영주시', '영천시', '예산군', '예천군', '오산시', '옥천군', '옹진군', '완도군', '완주군', '용산구', '용인시', '울릉군', '울주군', '울진군', '원주시', '유성구', '은평구', '음성군', '의령군', '의성군', '의왕시', '의정부시', '이천시', '익산시', '인제군', '임실군', '장성군', '장수군', '장흥군', '전주시', '정선군', '정읍시', '제주시', '제천시', '종로구', '중구', '중랑구', '증평군', '진도군', '진안군', '진주시', '진천군', '창녕군', '창원시', '천안시', '철원군', '청도군', '청송군', '청양군', '청주시', '춘천시', '충주시', '칠곡군', '태백시', '태안군', '통영시', '파주시', '평창군', '평택시', '포천시', '포항시', '하남시', '하동군', '함안군', '함양군', '함평군', '합천군', '해남군', '해운대구', '홍성군', '홍천군', '화성시', '화순군', '화천군', '횡성군']

In [40]:
mapping = {
    '서울특별시': '서울특별시교육청',
    '부산광역시': '부산광역시교육청',
    '대구광역시': '대구광역시교육청',
    '인천광역시': '인천광역시교육청',
    '광주광역시': '광주광역시교육청',
    '대전광역시': '대전광역시교육청',
    '울산광역시': '울산광역시교육청',
    '세종특별자치시': '세종특별자치시교육청',
    '경기도': '경기도교육청',
    '강원특별자치도': '강원특별자치도교육청',
    '충청북도': '충청북도교육청',
    '충청남도': '충청남도교육청',
    '전라북도': '전라북도교육청',
    '전라남도': '전라남도교육청',
    '경상북도': '경상북도교육청',
    '경상남도': '경상남도교육청',
    '제주특별자치도': '제주특별자치도교육청'
}

In [41]:
apt_new[0] = apt_new[0].replace(mapping)

In [42]:
apt_result['시도교육청명'] = apt_new[0]
apt_result['시군구'] = apt_new[1]

In [43]:
academy_result.iloc[:, [1, 2]]

            시도교육청명 행정구역명
0         서울특별시교육청   강남구
1         서울특별시교육청   강남구
2         서울특별시교육청   강남구
3         서울특별시교육청   강남구
4         서울특별시교육청   강남구
...            ...   ...
136611  제주특별자치도교육청   제주시
136612  제주특별자치도교육청   제주시
136613  제주특별자치도교육청   제주시
136614  제주특별자치도교육청   제주시
136615  제주특별자치도교육청   제주시

[136616 rows x 2 columns]

In [44]:
# '시도교육청명' 컬럼에서 '전북특별자치도교육청'을 '전라북도교육청'으로 변경
academy_result['시도교육청명'] = academy_result['시도교육청명'].replace('전북특별자치도교육청', '전라북도교육청')

# 결과 확인
print(academy_result['시도교육청명'].unique())

['서울특별시교육청' '부산광역시교육청' '대구광역시교육청' '인천광역시교육청' '광주광역시교육청' '대전광역시교육청'
 '울산광역시교육청' '세종특별자치시교육청' '경기도교육청' '강원특별자치도교육청' '충청북도교육청' '충청남도교육청'
 '전라북도교육청' '전라남도교육청' '경상북도교육청' '경상남도교육청' '제주특별자치도교육청']

In [68]:
academy_result['시도교육청명'].unique()

array(['서울특별시교육청', '부산광역시교육청', '대구광역시교육청', '인천광역시교육청', '광주광역시교육청',
       '대전광역시교육청', '울산광역시교육청', '세종특별자치시교육청', '경기도교육청', '강원특별자치도교육청',
       '충청북도교육청', '충청남도교육청', '전라북도교육청', '전라남도교육청', '경상북도교육청', '경상남도교육청',
       '제주특별자치도교육청'], dtype=object)

In [69]:
apt_result['시도교육청명'].unique()

array(['강원특별자치도교육청', '경기도교육청', '경상남도교육청', '경상북도교육청', '광주광역시교육청',
       '대구광역시교육청', '대전광역시교육청', '부산광역시교육청', '서울특별시교육청', '세종특별자치시교육청',
       '울산광역시교육청', '인천광역시교육청', '전라남도교육청', '전라북도교육청', '제주특별자치도교육청',
       '충청남도교육청', '충청북도교육청', '전북특별자치도'], dtype=object)

In [45]:
# '시도교육청명'과 '행정구역명'이 동일한 것들의 개수를 구함
academy_count = academy_result.groupby(['시도교육청명', '행정구역명']).size().reset_index(name='count')

# 결과 확인
print(academy_count.head(30))

        시도교육청명 행정구역명  count
0   강원특별자치도교육청   강릉시    632
1   강원특별자치도교육청   고성군     16
2   강원특별자치도교육청   동해시    192
3   강원특별자치도교육청   삼척시     87
4   강원특별자치도교육청   속초시    159
5   강원특별자치도교육청   양구군     24
6   강원특별자치도교육청   양양군     32
7   강원특별자치도교육청   영월군     50
8   강원특별자치도교육청   원주시    951
9   강원특별자치도교육청   인제군     37
10  강원특별자치도교육청   정선군     30
11  강원특별자치도교육청   철원군     71
12  강원특별자치도교육청   춘천시    688
13  강원특별자치도교육청   태백시     52
14  강원특별자치도교육청   평창군     33
15  강원특별자치도교육청   홍천군     85
16  강원특별자치도교육청   화천군     26
17  강원특별자치도교육청   횡성군     49
18      경기도교육청   가평군     86
19      경기도교육청   고양시   3485
20      경기도교육청   과천시    255
21      경기도교육청   광명시    862
22      경기도교육청   광주시    785
23      경기도교육청   구리시    610
24      경기도교육청   군포시    738
25      경기도교육청   김포시   1632
26      경기도교육청  남양주시   2006
27      경기도교육청  동두천시    124
28      경기도교육청   부천시   2064
29      경기도교육청   성남시   3225

In [50]:
apt_result

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,해제사유발생일,등기신청일자,거래유형,중개사소재지,NO,동,매수자,매도자,등기일자,시도교육청명
0,강릉시,202,202,0.0,송정한신,84.9450,200701,4,"8,000",15,...,NaN,,-,-,NaN,NaN,NaN,NaN,NaN,강원특별자치도교육청
1,강릉시,202,202,0.0,송정한신,84.9300,200701,8,"8,100",7,...,NaN,,-,-,NaN,NaN,NaN,NaN,NaN,강원특별자치도교육청
2,강릉시,202,202,0.0,송정한신,84.9450,200701,8,"8,200",14,...,NaN,,-,-,NaN,NaN,NaN,NaN,NaN,강원특별자치도교육청
3,강릉시,202,202,0.0,송정한신,84.9450,200701,25,"7,900",15,...,NaN,,-,-,NaN,NaN,NaN,NaN,NaN,강원특별자치도교육청
4,강릉시,202,202,0.0,송정한신,84.9300,200701,31,"6,000",4,...,NaN,,-,-,NaN,NaN,NaN,NaN,NaN,강원특별자치도교육청
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399984,오산시,624,624,0.0,세마역에듀파크,59.9800,202312,1,"33,000",3,...,-,NaN,중개거래,경기 오산시,25131.0,203,-,-,24.05.30,경기도교육청
2399985,남구,191-58,191,58.0,성도,59.8100,202312,1,"20,000",7,...,-,NaN,중개거래,울산 남구,25132.0,-,-,-,24.03.29,울산광역시교육청
2399986,제주시,1535-1,1535,1.0,삼영노블리안,84.4100,202312,1,"27,000",1,...,-,NaN,중개거래,제주 제주시,25133.0,-,-,-,24.05.30,제주특별자치도교육청
2399987,세종특별자치시,1403,1403,0.0,가락마을14단지(우남퍼스트빌),117.8982,202312,1,"66,000",7,...,20240531,NaN,중개거래,세종,25134.0,-,-,-,-,세종특별자치시교육청
2399988,마포구,1660,1660,0.0,상암월드컵파크7단지,84.7400,202312,1,"103,000",8,...,20240228,NaN,중개거래,서울 마포구,25135.0,-,-,-,-,서울특별시교육청

In [51]:
academy_count

         시도교육청명 행정구역명  count
0    강원특별자치도교육청   강릉시    632
1    강원특별자치도교육청   고성군     16
2    강원특별자치도교육청   동해시    192
3    강원특별자치도교육청   삼척시     87
4    강원특별자치도교육청   속초시    159
..          ...   ...    ...
228     충청북도교육청   제천시    254
229     충청북도교육청   증평군     69
230     충청북도교육청   진천군    147
231     충청북도교육청   청주시   1650
232     충청북도교육청   충주시    469

[233 rows x 3 columns]

In [62]:
# 두 데이터프레임 병합 (시도교육청명과 시군구 기준으로 count 값 붙이기)
apt_result_with_count = pd.merge(
    apt_result, 
    academy_count[['시도교육청명', '행정구역명', 'count']], 
    left_on=['시도교육청명', '시군구'], 
    right_on=['시도교육청명', '행정구역명'], 
    how='left'
)

In [63]:
apt_result_with_count = apt_result_with_count[['시도교육청명','시군구','단지명','거래금액(만원)','전용면적(㎡)','층','건축년도','계약년월','계약일','count']]

In [64]:
apt_result_with_count

,시도교육청명,시군구,단지명,거래금액(만원),전용면적(㎡),층,건축년도,계약년월,계약일,count
0,강원특별자치도교육청,강릉시,송정한신,"8,000",84.9450,15,1997.0,200701,4,632.0
1,강원특별자치도교육청,강릉시,송정한신,"8,100",84.9300,7,1997.0,200701,8,632.0
2,강원특별자치도교육청,강릉시,송정한신,"8,200",84.9450,14,1997.0,200701,8,632.0
3,강원특별자치도교육청,강릉시,송정한신,"7,900",84.9450,15,1997.0,200701,25,632.0
4,강원특별자치도교육청,강릉시,송정한신,"6,000",84.9300,4,1997.0,200701,31,632.0
...,...,...,...,...,...,...,...,...,...,...
10041446,경기도교육청,오산시,세마역에듀파크,"33,000",59.9800,3,2010.0,202312,1,523.0
10041447,울산광역시교육청,남구,성도,"20,000",59.8100,7,1997.0,202312,1,1362.0
10041448,제주특별자치도교육청,제주시,삼영노블리안,"27,000",84.4100,1,2014.0,202312,1,1300.0
10041449,세종특별자치시교육청,세종특별자치시,가락마을14단지(우남퍼스트빌),"66,000",117.8982,7,2020.0,202312,1,1569.0
10041450,서울특별시교육청,마포구,상암월드컵파크7단지,"103,000",84.7400,8,2005.0,202312,1,1166.0

In [65]:
apt_result_with_count.isna().sum()

시도교육청명          0
시군구             0
단지명             0
거래금액(만원)        0
전용면적(㎡)         0
층               0
건축년도          115
계약년월            0
계약일             0
count       18711
dtype: int64

In [66]:
# count 열에서 NaN 값을 가진 행만 필터링
nan_count_rows = apt_result_with_count[apt_result_with_count['count'].isna()]

# 결과 출력
print(nan_count_rows)

           시도교육청명  시군구          단지명 거래금액(만원)  전용면적(㎡)   층    건축년도    계약년월 계약일  \
744404    전북특별자치도  전주시  서신아이파크이편한세상   17,000  34.9989   7  2020.0  202401  31
744406    전북특별자치도  익산시         동산라인    6,000  41.6700   3  1997.0  202401  31
744407    전북특별자치도  김제시       진우(1차)    8,400  59.9900   3  1998.0  202401  31
744408    전북특별자치도  군산시        성원상떼빌    9,000  84.9506   7  2004.0  202401  31
744419    전북특별자치도  전주시         동아한일   15,800  59.9300  14  1999.0  202401  31
...           ...  ...          ...      ...      ...  ..     ...     ...  ..
10041386  전북특별자치도  완주군   혁신도시에코르3단지   20,100  84.8960   3  2015.0  202312   1
10041387  전북특별자치도  익산시           삼성    5,000  59.8500  10  1994.0  202312   1
10041424  전북특별자치도  완주군        덕천하이트    4,700  59.4800  12  2001.0  202312   1
10041425  전북특별자치도  전주시  진버들마을부영(1차)    9,300  49.8300  14  1999.0  202312   1
10041442  전북특별자치도  고창군         성산현대   13,000  59.7000   3  1995.0  202312   1

          count
744404      NaN
744406      NaN
744407      NaN
744408      NaN
744419      NaN
...         ...
10041386    NaN
10041387    NaN
10041424    NaN
10041425    NaN
10041442    NaN

[18711 rows x 10 columns]

In [57]:
# NaN 값이 포함된 행을 제거
merged_result = apt_result_with_count.dropna(subset=['count'])

In [58]:
merged_result

,시군구,단지명,거래금액(만원),전용면적(㎡),층,건축년도,계약년월,계약일,count
0,강릉시,송정한신,"8,000",84.9450,15,1997.0,200701,4,632.0
1,강릉시,송정한신,"8,100",84.9300,7,1997.0,200701,8,632.0
2,강릉시,송정한신,"8,200",84.9450,14,1997.0,200701,8,632.0
3,강릉시,송정한신,"7,900",84.9450,15,1997.0,200701,25,632.0
4,강릉시,송정한신,"6,000",84.9300,4,1997.0,200701,31,632.0
...,...,...,...,...,...,...,...,...,...
10041446,오산시,세마역에듀파크,"33,000",59.9800,3,2010.0,202312,1,523.0
10041447,남구,성도,"20,000",59.8100,7,1997.0,202312,1,1362.0
10041448,제주시,삼영노블리안,"27,000",84.4100,1,2014.0,202312,1,1300.0
10041449,세종특별자치시,가락마을14단지(우남퍼스트빌),"66,000",117.8982,7,2020.0,202312,1,1569.0
10041450,마포구,상암월드컵파크7단지,"103,000",84.7400,8,2005.0,202312,1,1166.0

# database에서 1999-2024 USD 환율정보 가져와서 합치기
- 날짜와 USD 살때 데이터만 사용
- 토,일 공휴일 데이터는 그 전날 데이터로 맵핑

In [ ]:
mport pandas as pd
from sqlalchemy import create_engine

# MySQL 연결 설정 (자신의 정보로 수정)
username = 'root'  # MySQL 사용자 이름
password = '1234'  # MySQL 비밀번호
host = 'localhost'  # 로컬 호스트
port = 3306  # MySQL 기본 포트
database = 'korea_exchange_rate'  # 데이터베이스 이름

# SQLAlchemy 엔진 생성
engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}')

# SQL 쿼리를 통해 데이터를 불러오기
query = "SELECT * FROM exchange_rate;"  # 'exchange_rate' 테이블의 모든 데이터 가져오기
ex_result = pd.read_sql(query, engine)

# 데이터 확인
print(ex_result.head())