In [4]:
import pandas as pd
data = pd.read_csv("../data/소상공인시장진흥공단_상가(상권)정보_경기_202409.csv")

C:\Users\5-12\AppData\Local\Temp\ipykernel_5988\2147288566.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../data/소상공인시장진흥공단_상가(상권)정보_경기_202409.csv")

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554614 entries, 0 to 554613
Data columns (total 39 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   상가업소번호     554614 non-null  object
 1   상호명        554614 non-null  object
 2   지점명        15333 non-null   object
 3   상권업종대분류코드  554614 non-null  object
 4   상권업종대분류명   554614 non-null  object
 5   상권업종중분류코드  554614 non-null  object
 6   상권업종중분류명   554614 non-null  object
 7   상권업종소분류코드  554614 non-null  object
 8   상권업종소분류명   554614 non-null  object
 9   표준산업분류코드   554523 non-null  object
 10  표준산업분류명    554523 non-null  object
 11  시도코드       554614 non-null  int64
 12  시도명        554614 non-null  object
 13  시군구코드      554614 non-null  int64
 14  시군구명       554614 non-null  object
 15  행정동코드      554614 non-null  int64
 16  행정동명       554614 non-null  object
 17  법정동코드      554614 non-null  int64
 18  법정동명       554614 non-null  object
 19  지번코드       554614 non-null  int64
 20  대지구분코드     554614 non-null  int64
 21  대지구분명      554614 non-null  object
 22  지번본번지      554249 non-null  float64
 23  지번부번지      418859 non-null  float64
 24  지번주소       554614 non-null  object
 25  도로명코드      554174 non-null  float64
 26  도로명        554614 non-null  object
 27  건물본번지      554174 non-null  float64
 28  건물부번지      113511 non-null  float64
 29  건물관리번호     554518 non-null  object
 30  건물명        222172 non-null  object
 31  도로명주소      554614 non-null  object
 32  구우편번호      540251 non-null  float64
 33  신우편번호      554614 non-null  int64
 34  동정보        0 non-null       float64
 35  층정보        280959 non-null  object
 36  호정보        0 non-null       float64
 37  경도         554614 non-null  float64
 38  위도         554614 non-null  float64
dtypes: float64(10), int64(7), object(22)
memory usage: 165.0+ MB

In [12]:
# 조건에 따라 데이터 필터링
filtered_data = data[(data["상권업종대분류코드"] == "I2") & (data["시도코드"].astype(str).str.startswith("41"))]

# 필터링된 데이터 출력
print(filtered_data)

                      상가업소번호         상호명  지점명 상권업종대분류코드 상권업종대분류명 상권업종중분류코드  \
0       MA0101202210A0071854          희야  NaN        I2       음식      I203
1       MA0101202210A0076234  비에이치씨충호회관점  NaN        I2       음식      I210
2       MA0101202210A0058768     생곡메밀막국수  NaN        I2       음식      I201
3       MA010120220805430777        고매커피  NaN        I2       음식      I212
5       MA010120220805430792     푸라닭성남동점  NaN        I2       음식      I210
...                      ...         ...  ...       ...      ...       ...
554601  MA0101202406A0480661       별미칡냉면  NaN        I2       음식      I201
554604  MA0101202406A0507348  뚝배기양평해장국수원  정자점        I2       음식      I201
554608  MA0101202406A0466087        가배정원  청계점        I2       음식      I212
554609  MA0101202406A0466448       도나떡볶이  NaN        I2       음식      I210
554613  MA0101202406A0503316        틈새라면  태전점        I2       음식      I210

       상권업종중분류명 상권업종소분류코드  상권업종소분류명 표준산업분류코드  ...                     건물관리번호  \
0            일식    I20301   일식 회/초밥   I56122  ...  4122010100108160002005525
1         기타 간이    I21006        치킨   I56193  ...  4136025024203190001025405
2            한식    I20105    국수/칼국수   I56112  ...  4159011700102080000000001
3         비알코올     I21201        카페   I56221  ...  4146310800102450002019118
5         기타 간이    I21006        치킨   I56193  ...  4113310100126160000042977
...         ...       ...       ...      ...  ...                        ...
554601       한식    I20106     냉면/밀면   I56111  ...  4128111500103250000031934
554604       한식    I20102   국/탕/찌개류   I56111  ...  4111113000100810015037633
554608    비알코올     I21201        카페   I56221  ...  4143010800103400006000001
554609    기타 간이    I21007  김밥/만두/분식   I56194  ...  4137010100108840012002193
554613    기타 간이    I21007  김밥/만두/분식   I56194  ...  4161011000101120006000001

         건물명                        도로명주소     구우편번호  신우편번호  동정보  층정보  호정보  \
0        NaN           경기도 평택시 특구로23번길 19  459813.0  17774  NaN    1  NaN
1        NaN  경기도 남양주시 와부읍 석실로260번길 74-17  472905.0  12203  NaN    1  NaN
2        NaN            경기도 화성시 동탄지성로 222  445360.0  18421  NaN    1  NaN
3        NaN     경기도 용인시 기흥구 원고매로2번길 85-2  446901.0  17086  NaN    1  NaN
5        NaN          경기도 성남시 중원구 광명로 138  462826.0  13360  NaN    1  NaN
...      ...                          ...       ...    ...  ...  ...  ...
554601   NaN        경기도 고양시 덕양구 선유길 97-15  412801.0  10276  NaN    1  NaN
554604  알파빌딩          경기도 수원시 장안구 수성로 323  440834.0  16311  NaN    1  NaN
554608   NaN            경기도 의왕시 청계로 231-1  437827.0  16000  NaN    1  NaN
554609   NaN              경기도 오산시 오산로 181  447802.0  18137  NaN  NaN  NaN
554613   NaN            경기도 광주시 태봉로 145-3  464808.0  12789  NaN  NaN  NaN

                경도         위도
0       127.062091  37.067553
1       127.225686  37.602928
2       127.053118  37.213831
3       127.110760  37.219495
5       127.143503  37.437268
...            ...        ...
554601  126.906614  37.680748
554604  127.007394  37.292266
554608  127.013003  37.404110
554609  127.068263  37.142998
554613  127.231124  37.380976

[167161 rows x 39 columns]

In [13]:
# DataFrame을 JSON 파일로 변환하고 저장
json_file_path = "csv_data.json"
filtered_data.to_json(json_file_path, orient="records", force_ascii=False, indent=4)

print(f"데이터가 JSON 파일로 '{json_file_path}'에 저장되었습니다.")

데이터가 JSON 파일로 'csv_data.json'에 저장되었습니다.

In [15]:
filtered_data.head(3)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA0101202210A0071854,희야,NaN,I2,음식,I203,일식,I20301,일식 회/초밥,I56122,...,4122010100108160002005525,NaN,경기도 평택시 특구로23번길 19,459813.0,17774,NaN,1,NaN,127.062091,37.067553
1,MA0101202210A0076234,비에이치씨충호회관점,NaN,I2,음식,I210,기타 간이,I21006,치킨,I56193,...,4136025024203190001025405,NaN,경기도 남양주시 와부읍 석실로260번길 74-17,472905.0,12203,NaN,1,NaN,127.225686,37.602928
2,MA0101202210A0058768,생곡메밀막국수,NaN,I2,음식,I201,한식,I20105,국수/칼국수,I56112,...,4159011700102080000000001,NaN,경기도 화성시 동탄지성로 222,445360.0,18421,NaN,1,NaN,127.053118,37.213831

In [16]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 167161 entries, 0 to 554613
Data columns (total 39 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   상가업소번호     167161 non-null  object
 1   상호명        167161 non-null  object
 2   지점명        9032 non-null    object
 3   상권업종대분류코드  167161 non-null  object
 4   상권업종대분류명   167161 non-null  object
 5   상권업종중분류코드  167161 non-null  object
 6   상권업종중분류명   167161 non-null  object
 7   상권업종소분류코드  167161 non-null  object
 8   상권업종소분류명   167161 non-null  object
 9   표준산업분류코드   167099 non-null  object
 10  표준산업분류명    167099 non-null  object
 11  시도코드       167161 non-null  int64
 12  시도명        167161 non-null  object
 13  시군구코드      167161 non-null  int64
 14  시군구명       167161 non-null  object
 15  행정동코드      167161 non-null  int64
 16  행정동명       167161 non-null  object
 17  법정동코드      167161 non-null  int64
 18  법정동명       167161 non-null  object
 19  지번코드       167161 non-null  int64
 20  대지구분코드     167161 non-null  int64
 21  대지구분명      167161 non-null  object
 22  지번본번지      167062 non-null  float64
 23  지번부번지      128807 non-null  float64
 24  지번주소       167161 non-null  object
 25  도로명코드      167067 non-null  float64
 26  도로명        167161 non-null  object
 27  건물본번지      167067 non-null  float64
 28  건물부번지      35526 non-null   float64
 29  건물관리번호     167140 non-null  object
 30  건물명        61602 non-null   object
 31  도로명주소      167161 non-null  object
 32  구우편번호      162954 non-null  float64
 33  신우편번호      167161 non-null  int64
 34  동정보        0 non-null       float64
 35  층정보        97853 non-null   object
 36  호정보        0 non-null       float64
 37  경도         167161 non-null  float64
 38  위도         167161 non-null  float64
dtypes: float64(10), int64(7), object(22)
memory usage: 55.0+ MB

In [ ]:
columns = [
    "상가업소번호", "상호명", "지점명", "상권업종대분류코드", "상권업종대분류명",
    "상권업종중분류코드", "상권업종중분류명", "상권업종소분류코드", "상권업종소분류명",
    "표준산업분류코드", "표준산업분류명", "시도코드", "시도명", "시군구코드",
    "시군구명", "행정동코드", "행정동명", "법정동코드", "법정동명", "지번코드",
    "대지구분코드", "대지구분명", "지번본번지", "지번부번지", "지번주소",
    "도로명코드", "도로명", "건물본번지", "건물부번지", "건물관리번호",
    "건물명", "도로명주소", "구우편번호", "신우편번호", "동정보",
    "층정보", "호정보", "경도", "위도"
]